# Ignore pretrained model files
/experiments/pretrained_models/*.pth
# Ignore datasets
/datasets/origin/
/datasets/processed/
# Ignore all .log files
*.log
# Ignore all files in a directory called "temp"
temp/


